@using EventManagementSystem.Infrastructure.Entities
@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "Reservations List";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Reservation</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Attendees Count</th>
            <th>Reservation Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Event.Name</td>
                <td>@reservation.AttendeesCount</td>
                <td>@reservation.ReservationDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@reservation.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@reservation.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="ChoosePaymentMethod" asp-controller="Payments" asp-route-reservationId="@reservation.Id" class="btn btn-primary">Pay</a>
                   
                </td>
          
            </tr>
        }
    </tbody>
</table>
