@using EventManagementSystem.Core.Models.Reservation
@model IEnumerable<ReservationViewModel>

@{
    ViewData["Title"] = "Reservations List";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Reservation</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Attendees Count</th>
            <th>Reservation Date</th>
            <th>Total Amount</th>
            <th>Discounted Amount</th> <!-- New column for discounted amount -->
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.EventName</td>
                <td>@reservation.AttendeesCount</td>
                <td>@reservation.ReservationDate.ToShortDateString()</td>
                <td>@reservation.TotalAmount.ToString("C")</td> <!-- Display total amount in currency format -->
                <td>@reservation.DiscountedAmount</td> <!-- Display discounted amount in currency format -->

                <td>
                    @if (reservation.IsPaid)
                    {
                        <span class="badge bg-success">Paid</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Not Paid</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@reservation.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@reservation.Id" class="btn btn-danger">Delete</a>

                    @if (!reservation.IsPaid)
                    {
                        <a asp-action="ProcessPayment" asp-controller="Payments" asp-route-reservationId="@reservation.Id" class="btn btn-primary">Pay</a>
                    }
                    else
                    {
                        <a asp-action="ViewPaymentDetails" asp-controller="Payments" asp-route-reservationId="@reservation.Id" class="btn btn-secondary">View Payment</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
