﻿@using EventManagementSystem.Core.Models.Account
@model ManageProfileViewModel

<h2 class="text-center">Manage Profile</h2>

<div class="profile-info">
    <p>
        <strong>Username:</strong> @Model.UserName.Substring(0, Model.UserName.IndexOf('@'))
    </p>

    <p><strong>Email:</strong> @Model.UserName</p>
    <p><strong>Sponsored Amount:</strong> @Model?.SponsoredAmount.ToString("C")</p>
    <p><strong>Sponsorship Tier:</strong> @Model?.SponsorshipTier?.ToString()</p>
</div>

<h3>Your Tickets</h3>
@if (Model?.Tickets != null && Model.Tickets.Any())
{
    <ul>
        @foreach (var ticket in Model.Tickets)
        {
            <li>Ticket ID: @ticket.Id - Event: @ticket.Event?.Name ?? "Unknown Event"</li>
        }
    </ul>
}
else
{
    <p>You have no tickets.</p>
}

<h3>Update Profile Information</h3>

<div>
   
    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "ChangePassword")'">Change Password</button>
</div>
